#form {
  padding: 35px;
  margin: 50px auto;
  background: #fff;
  max-width: 880px;
  display: flex;
}

body {
  background: rgba(0, 0, 0, .1);
  height: auto;
}

#forminner {
  padding: 50px;
  padding-right: 90px;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.conta {
  width: 450px;
  margin-bottom: 10px;
}

#drag-title {
  margin-left: 15px;
  font-size: 110%;
}

input[type="file"] {
  position: relative;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, .03);
  border: 2px dashed grey !important;
  outline: none;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

input[type="file"]:hover {
  background: #dadae3;
}

input[type="file"][data-text-enabled="1"]:before {
  content: attr(data-text) !important;
}

input[type="file"][multiple]:before {
  content: "Drag and drop files here";
}

input[type="file"]:before {
  content: "Drag and drop files here";
  display: block;
  font-size: 20px;
  color: #999;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
}

input[type="file"]:active {
  background: #a0aab4;
}